
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body{
    text-align: right !important;
    .portfolio-modal .modal-dialog {
        text-align: right !important;
    }
    .portfolio-modal .close-modal {
        right: 125px !important;
    }
    .btn-white {
        border-color: #2196f3;
        background-color: #2196f3;
        color: #fff;
    }
    // .btn{
    //     border: none !important;
    // }
}
.f-BYekan{
    font-family: BYekan;
}
#sideNav .navbar-collapse .navbar-nav {
    width: 75%;
}

h1, h2, h3, h4, h5, h6,
.subheading {
    font-family: BYekan !important;
}

@media (max-width:767px){
     body {
        .container-fluid.p-0 {
            margin-right: none !important;
        }
    }
}

@media (min-width:768px) and (max-width:991px){
     body {
        .container-fluid.p-0 {
            margin-right: none !important;
        }
    }
}
@media (min-width:992px){
    body {
        .container-fluid.p-0 {
            margin-right: 270px !important;
        }
    }
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: none !important;
}





